* {
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

a{
    color: white;
}

h1{
    line-height: 1.4;
}

.btn{
    border: 0;
    background-color: #fff;
    color: cadetblue;
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}
.btn:focus{
    outline: 0;
}

.choose-btn{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-family: inherit;
    width: 150px;
    height: 150px;
    cursor: pointer;  
}
.choose-btn:hover{
    background-color: #fff;
    color: cadetblue;
}

.choose-btn:active{
    background-color: rgba(255, 255, 255, 0.7);
}

.choose-btn img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-out;
}

.screen.up{
    margin-top: -100vh;
}

.pets-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.pets-list li {
    margin: 10px;
}

.game-container {
    position: relative;
}

.time,
.score {
    position: absolute;
    top: 20px;
}

.time {
    left: 20px;
}

.score {
    right: 20px;
}

.message {
    line-height: 1.7;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 100;
    opacity: 0;
    transform: translate(-50%, -150%);
    transition: transform 0.4s ease-in;
}

.message.visible {
    transform: translate(-50%, 150%);
    opacity: 1;
}


.pet {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out;
}

.pet img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.pet.caught {
    transform: translate(-50%, -50%) scale(0);
}